ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    width: 200px;
    border-radius: 5px;
}

    li a{
        display: block;
        color: rgb(10, 10, 10);
        text-decoration: none;

    }
    li a:hover {
        background-color: #0235be;
        color: white;
    }